@mixin top-border {
    border-top: 1px black solid;
}

@mixin top-bottom-border{
    @include top-border;
    border-bottom: 1px black solid;
}

.crypto-market-cap-list {
    .flex-row {
        @include flex-row;
        @include top-border;
        height: 80px;

        &-expanded {
            @include flex-row;
            @include top-border;
            height: 400px;
        }

        &:last-child{
            @include flex-row;
            @include top-bottom-border;
            height: 80px;
        }
    }
    .flex-col {
        @include flex-col;
        flex-grow: 0;
        flex-basis: 20%;
        &-icon{
            @include flex-col;
            flex-grow: 0;
            flex-basis: 10%;
        }
    }

    .coin-detail-row{
        @include flex-row;
        justify-content: center;
        margin: auto;
        padding-top: 15px;
    }

    .item {
        justify-content: center;
        margin: auto;
        font-size: 20px;
        .icon {
            display: block;
            margin: auto;
            width: 65px;
            height: auto;
        }
    }
}

@keyframes green-to-red {
    0% {
        border: 1px solid green;
    }
    25% {
        border: 1px solid darkgreen;
    }
    50% {
        border: 1px solid darkred;
    }
    100% {
        border: 1px solid red;
    }
}

@keyframes red-to-green {
    0% {
        border: 1px solid red;
    }
    25% {
        border: 1px solid darkred;
    }
    50% {
        border: 1px solid darkgreen;
    }
    100% {
        border: 1px solid green;
    }
}

@mixin ticker-box {
    line-height: 70px;
    text-align: center;
    width: 70%;
    height: 85%;
    justify-content: center;
}

.greenticker {
    @include ticker-box;
    color: green;
    border: 1px solid green;
    animation-name: red-to-green;
    animation-duration: 2s;
}

.redticker {
    @include ticker-box;
    color: red;
    border: 1px solid red;
    animation-name: green-to-red;
    animation-duration: 2s;
}

.nochangeticker {
    @include ticker-box;
    color: black;
    border: 1px solid black;
}

.coin-detail-header {
    color: grey;
    font-size: 20px;
}