.market-cap-list-button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    &-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.market-cap-list-button-col {
    &-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
    }
    &-dropdown{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
    }

}